.row {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display:         flex;
    flex-wrap: wrap;
    
    height: 100%;
}
.row > [class*='col-'] {
    display: flex;
    flex-direction: column;
}
.panel-heading {
    min-height: 38px;
    vertical-align: middle;
}
.modal-header {
    background-color: #F0F0F0;
}
.modal-footer {
    background-color: #F0F0F0;
}



.scrollable {
    overflow-y: scroll;
}

.pull-bottom {
    position: absolute;
    bottom: 0;
    padding-bottom: 20px;
}

.pull-bottom-left {
    position: absolute;
    bottom: 0;
    left: 0;
    padding-bottom: 20px;
    padding-left: 20px;
}

.pull-bottom-right {
    position: absolute;
    bottom: 0;
    right: 0;
    padding-bottom: 20px;
    padding-right: 20px;
}
.panel-dropdown {
    margin-top: -7px;
    margin-right: -7px;
}
.nav-two-items {
    width: 50%;
    text-align: center;
    background: #F5F5F5;
}
.nav-two-items.active {
    font-weight: 900;
}
.form-date-control {
    display: inline-block;
    width: 18%;
}
.form-time-control {
    display: inline-block;
    width: 15%;
}
.form-check-input {
    margin-left: 2px;
    zoom: 1.3;
    -moz-transform: scale(1.3); /* FF */
    /* -webkit-transform: scale(1.3); /* Safari and Chrome */
    /* -o-transform: scale(1.3); /* Opera */
    /* -ms-transform: scale(1.3); /* IE */
}
.form-datetime-span {
    display: inline-block;
    margin: 15px 0px 15px 0px;
    padding: 0px;
    transform: translateY(0%); 
}



/* .main-ui */
.main-ui {
    overflow-y: hidden;
}
.main-ui-scrollable {
    overflow-y: scroll;
}
#menu-toggle {
    margin-right: 15px;
}
@media (min-width: 768px) {
  #navbar-toggle-right {
    display: none;
  }
}
@media (max-width: 767px) {
    #sidebar-wrapper {
        top: 50px;
    }
    
    #page-content-wrapper {
        top: 50px;
        padding-left: 5px;
        padding-right: 5px;
    }
    
    .navbar-brand {
        max-width: calc(100% - 44px * 2 - 20px * 4);
        max-height: 36px;
        overflow-y: hidden;
    }
    
    .chat-brand {
        margin-left: -15px;
    }
    
    .navbar-right {
        float: right;
        border-top: none;
        box-shadow: none;
    }
}



/* Home */
#home-login {
    top: 20%;
    min-height: 45%;
    padding: 0 0 0 0;
}
#home-login-heading {
    padding: 0;
    border-bottom: none;
}
#home-login-heading > .nav-tabs {
    border: none;
}
#home-login-heading > .nav-tabs > li.active > a {
    border: none;
}
#home-login-error {
    top: 17%;
    min-height: 20px;
}
#login-submit-btn {
    width: 100%;
}
/* End of CSS for Home */



/* Dashboard */
.class-list-head {
    padding: 5px 5px 0px 5px;
    margin-bottom: 15px;
    border-bottom: 2px solid #ddd;
}
.lect-panel {
    padding: 5px 10px;
}
.lect-list {
    margin-bottom: 0px;
}
.lect-list-head {
    padding: 5px 5px 10px 5px;
    border-bottom: 2px solid #ddd;
}
.lect-item {
    border-top: 1px solid #ddd;
    border-left: none;
    border-right: none;
    border-bottom: 1px solid #ddd;
    padding: 10px 5px;
}
.lect-item:first-child {
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 1px solid #ddd;
    padding: 10px 5px;
}
.lect-item:last-child {
    border-top: 1px solid #ddd;
    border-left: none;
    border-right: none;
    border-bottom: none;
    padding: 10px 5px;
}
.dashboard-modal > .modal-dialog {
    position: absolute;
    width: 80%;
    height: 70%;
    left: 50%;
    top: 50%;
    margin-left: -40%;
    margin-top: -35%;
}
.dashboard-modal-footer-control {
    height: 50px;
}
.dashboard-control {
    margin-bottom: 15px;
}



/* Chat Room */
.forum-panel {
    top: 3%;
    height: 95%;
    padding: 0 0 0 0;
}
.forum-panel-dropdown-subli {
    padding-left: 5px;
}
.forum-list {
    position: absolute;
    width: calc(100% - 15px - 15px);
    height: calc(100% - 50px - 15px - 15px);
    overflow-y: scroll;
}
#forum-list-view {
    height: calc(100% - 120px - 15px - 15px);
    /* 20170402: calc(100% - 50px - 120px - 15px - 15px) */
}
.forum-message {
    min-height: 85px;
    padding: 3px 3px 12px 3px;
    margin-bottom: 8px;
    border-bottom: 1px solid #f0f0f0;
}
.forum-label {
    min-height: 44px;
    padding: 3px 3px 12px 3px;
    margin-bottom: 8px;
    border-bottom: 1px solid #f0f0f0;
}
.forum-thread-social,
.forum-label-social {
    max-width: 50%;
}
.forum-label-social {
    display: inline-block;
}
.forum-social-control,
.forum-social-control-fade {
    display: inline-block;
    width: 44px;
    padding: 0px;
    border: none;
    box-shadow: none;
    text-align: center;
    font-weight: 700;
}
.forum-thread-vote-input.forum-social-control,
.forum-thread-vote-input.forum-social-control:hover{
    color: #FF0000;
}
.forum-thread-hand-input.forum-social-control,
.forum-thread-hand-input.forum-social-control:hover{
    color: #0000FF;
}
.forum-social-control-fade, 
.forum-social-control-fade:hover {
    color: #ACACAC;
}
.forum-thread-head, 
.forum-thread-body,
.forum-thread-label {
    margin-left: 52px;
}
.forum-thread-head {
    min-height: 45px;
}
.forum-full-thread-head {
    margin-left: 15px;
}
.forum-full-thread-head > h3 {
    margin-top: 5px;
}
.forum-thread-label {
    height: 40px;
    overflow-y: hidden;
}
.forum-label-text {
    display: inline-block;
    margin-left: 15px;
}
#forum-quick-input-data-view {
    width: calc(100% - 20px);    /* 20170402: calc(100% - 90px - 15px) */
    margin-right: 90px;
}
#input-message-toggle {
    max-width: 9999px;
    height: 64px;
    word-wrap: break-word;
    resize: none;
}
#forum-quick-input-control-view {
    width: 90px;
}
.forum-quick-input-control {
    width: 70px;
    height: 32px;   /* 20170402: 50px */
    padding: 5px;
}
/* End of CSS for Chat Room */



/* Thread */
/*
.thread-panel {
    top: 3%;
    padding: 0 0 0 0;
}
*/
@media (min-width: 768px) {
    #thread-main {
        height: 100%;
        width: calc(100% / 12 * 7);
        overflow-y: scroll;
    }
    #thread-main2 {
        position: absolute;
        height: 100%;
        width: calc(100% - 60px);
    }
}

@media (min-width: 992px) {
    #thread-main {
        width: calc(100% / 12 * 8);
    }
}

.thread-quick-input-panel {
    height: 180px;
    padding: 0 0 0 0;
    border: none;
    box-shadow: none;
}

#thread-quick-input {
    display: inline-block;
    margin-top: 25px;
    margin-bottom: 50px;
}

#thread-quick-input-body {
    height: 64px;
    width: calc(100% - 15px);
    margin-left: 15px;
}

#thread-quick-reply-data-view {
    width: calc(100% - 90px - 15px);
}

.thread-quick-reply-control#input-message-body {
    height: 100px;
}

#thread-content-view {
    width: 100%;
    padding: 0 0 0 0;
    margin-top: 25px;
    margin-bottom: 25px;
}
@media (min-width: 768px) {
    #thread-content-view {
        margin-top: 0%;
    }
}

#thread-opener-head-view {
    min-height: 61px;
    padding: 3px 0px 0px 8px;
    margin-bottom: 8px;
    border-bottom: 1px solid #f0f0f0;
}

#thread-reply-head-view {
    padding: 3px 0px 0px 8px;
    margin-top: 20px;
    margin-bottom: 8px;
    border-bottom: 1px solid #f0f0f0;
}



/* Respond Modal */
.respond-modal > .modal-dialog {
    position: absolute;
    width: 80%;
    max-height: 80%;
    margin-left: 10%;
    margin-top: 10%;
}
@media (max-width: 767px) {
    .respond-modal > .modal-dialog {
        position: absolute;
        width: 80%;
        max-height: 80%;
        left: 50%;
        top: 40%;
        margin-left: -40%;
        margin-top: -40%;
    }
}
.respond-modal > .modal-dialog > .modal-content > .modal-body {
    height: 480px;
    overflow-y: scroll;
}

.respond-control.btn {
    width: 70px;
}
.respond-control-wide.btn {
    width: 140px;
}

.respond-control {
    margin-top: 15px;
    vertical-align: middle;
    overflow-y: hidden;
}

#thread-question-head > h2 {
    margin-top: 0;
    margin-bottom: 20px;
}

div > .respond-modal-social-control {
    width: auto;
}
.respond-modal-social-control {
    display: inline-block;
    width: 44px;
    padding: 6px;
    border: none;
    box-shadow: none;
    text-align: center;
    color: #ACACAC;
    font-weight: 700;
}

#respond-textarea {
    height: 144px;
}

#thread-respond-control {
    height: 50px;
}



/* Social Modal */
.social-modal > .modal-dialog {
    position: absolute;
    width: 40%;
    max-height: 60%;
    margin-left: 30%;
    margin-top: 20%;
}
@media (max-width: 767px) {
    .social-modal > .modal-dialog {
        position: absolute;
        width: 60%;
        max-height: 60%;
        left: 50%;
        top: 50%;
        margin-left: -30%;
        margin-top: -30%;
    }
}
.social-modal > .modal-dialog > .modal-content > .modal-body {
    height: 220px;
    overflow-y: scroll;
}
.social-item {
    height: 45px;
    border-bottom: 1px solid #f0f0f0;
    margin-bottom: 10px;
}
.social-item:last-child {
    border-bottom: 0px;
    margin-bottom: 0px;
}
.social-item-content {
    padding: 8px 0px;
}



/* Poll Modal */
.poll-modal > .modal-dialog {
    position: absolute;
    width: 80%;
    margin-left: 10%;
    margin-top: 20%;
}
@media (max-width: 767px) {
    .poll-modal > .modal-dialog {
        position: absolute;
        width: 80%;
        margin-left: 10%;
        margin-top: 20%;
    }
}
.poll-modal > .modal-dialog > .modal-content > .modal-body {
    height: 420px;
    overflow-x: hidden;
    overflow-y: scroll;
}

#poll-vote-body > h2 {
    margin-top: 0;
    margin-bottom: 20px;
}

#poll-vote-opt > .poll-vote-input {
    height: 74px;
    padding-top: 15px;
    padding-bottom: 15px;
    vertical-align: middle;
    overflow-y: hidden;
}



/* Login Modal */
.login-modal > .modal-dialog {
    position: absolute;
    width: 80%;
    max-height: 80%;
    margin-left: 10%;
    margin-top: 10%;
}
@media (max-width: 767px) {
    .login-modal > .modal-dialog {
        position: absolute;
        width: 80%;
        max-height: 80%;
        left: 50%;
        top: 40%;
        margin-left: -40%;
        margin-top: -40%;
    }
}



/* Settings Modal */
.settings-modal > .modal-dialog {
    position: absolute;
    width: 80%;
    max-height: 60%;
    margin-left: 10%;
    margin-top: 20%;
}
@media (max-width: 767px) {
    .settings-modal > .modal-dialog {
        position: absolute;
        width: 80%;
        max-height: 60%;
        left: 50%;
        top: 50%;
        margin-left: -40%;
        margin-top: -30%;
    }
}
.settings-item-view {
    height: 36px;
    border-bottom: 1px solid #f0f0f0;
    margin-bottom: 10px;
}
.settings-item-view:last-child {
    border-bottom: none;
    margin-bottom: 0px;
}
.settings-item-text {
    margin-left: 10px;
}



/* Input Modal */
.input-modal > .modal-dialog {
    position: absolute;
    width: 70%;
    max-height: 60%;
    margin-left: 10%;
    margin-top: 15%;
}
@media (max-width: 767px) {
    .input-modal > .modal-dialog {
        position: absolute;
        width: 80%;
        max-height: 80%;
        left: 50%;
        top: 50%;
        margin-left: -40%;
        margin-top: -50%;   /* -50% got better results than -40% */
    }
}
.input-modal > .modal-dialog > .modal-content > .modal-body {
    height: 240px;
    height: 240px;
    overflow-y: scroll;
}
#input-modal-data-view {
    width: 100%;
    margin-right: 90px;
}
#input-message-head {
    width: 100%;
    height: 64px;
    word-wrap: break-word;
    resize: none;
}
#input-message-body {
    width: 100%;
    height: 144px;
    word-wrap: break-word;
    resize: none;
}
#input-modal-control-view {
    /* margin-top: 15px; */
}
.input-modal-input-control {
    display: inline-block;
    width: 70px;
    height: 54px;
    padding: 5px;
}

