.row {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display:         flex;
    flex-wrap: wrap;
    
    height: 100%;
}
.row > [class*='col-'] {
    display: flex;
    flex-direction: column;
}

.pull-bottom {
    position: absolute;
    bottom: 0;
    padding-bottom: 20px;
}

.pull-bottom-left {
    position: absolute;
    bottom: 0;
    left: 0;
    padding-bottom: 20px;
    padding-left: 20px;
}

.pull-bottom-right {
    position: absolute;
    bottom: 0;
    right: 0;
    padding-bottom: 20px;
    padding-right: 20px;
}



/* .main-ui */
.main-ui {
    overflow-y: hidden;
}
.main-ui-scroll {
    overflow-y: scroll;
}
#menu-toggle {
    margin-right: 15px;
}
@media (min-width: 768px) {
  #navbar-toggle-right {
    display: none;
  }
}
@media (max-width: 767px) {
    #sidebar-wrapper {
        top: 50px;
    }
    
    #page-content-wrapper {
        top: 50px;
    }
    
    .navbar-right {
        float: right;
        border-top: none;
        box-shadow: none;
    }
}



/* Home */
#home-login {
    top: 15%;
    min-height: 45%;
    padding: 0 0 0 0;
}
#home-login-error {
    top: 17%;
    min-height: 20px;
}
#login-submit-btn {
    width: 100%;
}
/* End of CSS for Home */



/* Chat Room */
.chat-panel {
    top: 3%;
    height: 95%;
    padding: 0 0 0 0;
}
.thread-view {
    position: absolute;
    width: calc(100% - 15px - 15px);
    height: calc(100% - 50px - 15px - 15px);
    overflow-y: scroll;
}
#main-chat-view {
    height: calc(100% - 50px - 120px - 15px - 15px);
}
.thread-message {
    min-height: 61px;
    padding: 3px 3px 12px 3px;
    margin-bottom: 8px;
    border-bottom: 1px solid #f0f0f0;
}
.thread-message-vote {
    text-align: center;
}
.thread-message-vote-btn {
    width: inherit;
}
.thread-message-head {
    margin-left: 45px;
}
#main-chat-input {
    width: calc(100% - 90px - 15px);
    margin-right: 90px;
}
#chat-message-head {
    max-width: 9999px;
    height: 36px;
    word-wrap: break-word;
    resize: none;
}
#chat-message-body {
    max-width: 9999px;
    height: 64px;
    word-wrap: break-word;
    resize: none;
}
.main-chat-control {
    width: 90px;
}
.main-chat-control-btn {
    width: 70px;
    height: 50px;
    padding: 5px;
}
/* End of CSS for Chat Room */



/* Chat Room */
.thread-panel {
    top: 3%;
    padding: 0 0 0 0;
}